.archive/projects/ai-video-factory/workflows/video_generator.json
{
  "name": "Video Generator Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "video-generator"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.video_style }}",
              "operation": "equals",
              "value2": "avatar"
            }
          ]
        }
      },
      "id": "switch-style",
      "name": "Switch Video Style",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.d-id.com/talks",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic {{$env.DID_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"script\": {\n    \"type\": \"audio\",\n    \"audio_url\": \"{{ $json.audio_url }}\"\n  },\n  \"source_url\": \"{{ $json.presenter_image_url || 'https://create-images-results.d-id.com/DefaultPresenters/Noelle_f/image.jpeg' }}\",\n  \"config\": {\n    \"stitch\": true,\n    \"result_format\": \"mp4\"\n  }\n}"
      },
      "id": "did-create-talk",
      "name": "D-ID Create Talking Avatar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [680, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pictory.ai/v1/video/render",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.PICTORY_API_KEY}}"
            },
            {
              "name": "X-Pictory-User-Id",
              "value": "{{$env.PICTORY_USER_ID}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"script\": \"{{ $json.script }}\",\n  \"audio_url\": \"{{ $json.audio_url }}\",\n  \"aspect_ratio\": \"9:16\",\n  \"style\": \"modern\",\n  \"auto_captions\": true\n}"
      },
      "id": "pictory-create-video",
      "name": "Pictory Create B-Roll Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [680, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.d-id.com/talks/{{ $json.id }}",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic {{$env.DID_API_KEY}}"
            }
          ]
        },
        "options": {
          "retry": {
            "maxRetries": 10,
            "delay": 5000
          }
        }
      },
      "id": "did-poll-status",
      "name": "Poll D-ID Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [900, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equals",
              "value2": "done"
            }
          ]
        }
      },
      "id": "check-status",
      "name": "Check if Complete",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/{{$env.CLOUDINARY_CLOUD_NAME}}/video/upload",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ $json.result_url }}"
            },
            {
              "name": "upload_preset",
              "value": "ai_video_factory"
            },
            {
              "name": "folder",
              "value": "videos"
            }
          ]
        }
      },
      "id": "cloudinary-upload",
      "name": "Upload to Cloudinary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/{{$env.AIRTABLE_BASE_ID}}/Videos/{{ $json.airtable_record_id }}",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.AIRTABLE_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"Video_URL\": \"{{ $json.secure_url }}\",\n    \"Status\": \"Ready for Review\",\n    \"Generated_At\": \"{{ $now.toISO() }}\"\n  }\n}"
      },
      "id": "airtable-update",
      "name": "Update Airtable with Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendVideo",
        "sendBody": true,
        "specifyBody": "formData",
        "formDataParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{$env.TELEGRAM_CHAT_ID}}"
            },
            {
              "name": "video",
              "value": "={{ $json.secure_url }}"
            },
            {
              "name": "caption",
              "value": "=🎬 Video ready for {{ $json.product }}!\n\nStyle: {{ $json.video_style }}\nDuration: {{ $json.duration }}s\n\n👉 Reply:\n• /approve → Publish to all platforms\n• /edit [notes] → Request changes\n• /schedule [date] → Schedule for later"
            }
          ]
        }
      },
      "id": "telegram-send-video",
      "name": "Send Video Preview",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1780, 200]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Switch Video Style",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Video Style": {
      "main": [
        [
          {
            "node": "D-ID Create Talking Avatar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pictory Create B-Roll Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "D-ID Create Talking Avatar": {
      "main": [
        [
          {
            "node": "Poll D-ID Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll D-ID Status": {
      "main": [
        [
          {
            "node": "Check if Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Complete": {
      "main": [
        [
          {
            "node": "Upload to Cloudinary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Cloudinary": {
      "main": [
        [
          {
            "node": "Update Airtable with Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Airtable with Video": {
      "main": [
        [
          {
            "node": "Send Video Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
